<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://cdn.servermania.com/images/f_webp,q_auto:best/v1693496622/blog/Featured-4/Featured-4.png?_i=AA"
        cardTitle="Spring foi feito com carinho"
        cardDescription="Todo dia que eu uso Spring fico mais apaixonado"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
            cardTitle="Java é melhor linguagem do mundo"
            photoCover="https://developers.inter.co/media/java_logo.png">
        </app-small-card>
        <app-small-card
            cardTitle="C++ é segunda melhor linguagem do mundo"
            photoCover="https://www.alura.com.br/artigos/assets/formacao-linguagem-c-plus-plus/img-01.png">
        </app-small-card>
        <app-small-card
            cardTitle="Spring é melhor framework da atualidade"
            photoCover="https://www.vincenzoracca.com/images/spring.png">
        </app-small-card>
        <app-small-card
            cardTitle="O mais amado da comunidade"
            photoCover="https://hermes.dio.me/articles/cover/aabf5ff4-466e-4d56-bfed-726e8dbd36de.png">
        </app-small-card>
    </div>
</div>
